In [1]:
import pandas as pd
import requests
import json
from datetime import datetime

In [2]:
player_full_names = {
    "R. Shawcross": "Ryan Shawcross",
    "L. Dunk": "Lewis Dunk",
    "C. Clark": "Ciaran Clark",
    "S. Duffy": "Shane Duffy",
    "F. Lejeune": "Florian Lejeune",
    "W. Hoedt": "Wesley Hoedt",
    "Ahmed Hegazy": "Ahmed Elsayed Ali Elsayed Hegazy",
    "A. Wan-Bissaka": "Aaron Wan-Bissaka",
    "C. Kabasele": "Christian Kabasele",
    "K. Long": "Kevin Long",
    "C. Smalling": "Chris Smalling",
    "A. Williams": "Ashley Williams",
    "M. Rojo": "Marcos Rojo",
    "S. Mustafi": "Shkodran Mustafi",
    "C. Schindler": "Christopher Schindler",
    "M. Keane": "Michael Keane",
    "J. Tomkins": "James Tomkins",
    "A. Ogbonna": "Angelo Ogbonna",
    "P. Jagielka": "Phil Jagielka",
    "J. Kenny": "Jonjoe Kenny",
    "N. Pareja": "Nicolás Pareja",
    "L. Cabrera": "Leandro Cabrera",
    "Bartra": "Marc Bartra",
    "G. Maripán": "Guillermo Maripán",
    "F. Schär": "Fabian Schär",
    "Jesús Vallejo": "Jesús Vallejo",
    "Djené": "Djené Dakonam",
    "Juan Cala": "Juan Cala",
    "Rúben Vezo": "Rúben Vezo",
    "E. Muñoz": "Ezequiel Muñoz",
    "Z. Feddal": "Zouhair Feddal",
    "J. Murillo": "Jeison Murillo",
    "Luisinho": "Luis Carlos Almeida da Cunha",
    "Bóveda": "Eneko Bóveda Altube",
    "M. Dos Santos": "Mauro Dos Santos",
    "Víctor Ruíz": "Víctor Ruíz",
    "Rodrigo Ely": "Rodrigo Ely",
    "C. Lenglet": "Clément Lenglet",
    "S. Kjær": "Simon Kjær",
    "Muniesa": "Marc Muniesa",
    "P. Lienhart": "Philipp Lienhart",
    "A. Hack": "Alexander Hack",
    "L. Balogun": "Leon Balogun",
    "N. Stark": "Niklas Stark",
    "Felipe": "Felipe",
    "D. Maroh": "Dominique Maroh",
    "S. Bell": "Stefan Bell",
    "M. Gulde": "Manuel Gulde",
    "D. Heintz": "Dominik Heintz",
    "B. Hübner": "Benjamin Hübner",
    "T. Hübers": "Timo Hübers",
    "F. Sørensen": "Frederik Sørensen",
    "K. Papadopoulos": "Kyriakos Papadopoulos",
    "S. Sané": "Salif Sané",
    "J. Elez": "Josip Elez",
    "M. Akanji": "Manuel Akanji",
    "J. Vestergaard": "Jannik Vestergaard",
    "J. Bruma": "Jeffrey Bruma",
    "B. Pavard": "Benjamin Pavard",
    "M. Mavraj": "Mërgim Mavraj",
    "F. Helander": "Filip Helander",
    "F. Ceccherini": "Federico Ceccherini",
    "M. Lemos": "Mauricio Lemos",
    "L. Ceppitelli": "Luca Ceppitelli",
    "N. Spolli": "Nicolas Spolli",
    "L. Cabrera": "Leandro Cabrera", # Duplicate key, keeping the first one found
    "D. Dainelli": "Dario Dainelli",
    "J. Andersen": "Joachim Andersen",
    "B. Djimsiti": "Berat Djimsiti",
    "M. Bani": "Mattia Bani",
    "T. Heurtaux": "Thomas Heurtaux",
    "E. Goldaniga": "Edoardo Goldaniga",
    "G. Pezzella": "Germán Pezzella",
    "T. Cionek": "Thiago Cionek",
    "A. Caracciolo": "Antonio Caracciolo",
    "A. Ferrari": "Alessandro Ferrari",
    "T. Letschert": "Timo Letschert",
    "João Miranda": "João Miranda",
    "A. Izzo": "Armando Izzo",
    "E. Zukanović": "Ervin Zukanović",
    "K. Adénon": "Kassimou Adénon",
    "P. Djilobodji": "Papy Djilobodji",
    "D. Da Silva": "Damien Da Silva",
    "Diego Carlos": "Diego Carlos",
    "P. Gouano": "Prince-Désir Gouano",
    "Edgar Ié": "Edgar Ié",
    "B. Dibassy": "Bakaye Dibassy",
    "M. Debuchy": "Mathieu Debuchy",
    "N. Pallois": "Nicolas Pallois",
    "K. Théophile Catherine": "Kévin Théophile-Catherine",
    "C. Jullien": "Christopher Jullien",
    "I. Cissokho": "Issa Cissokho",
    "K. Mangane": "Kader Mangane",
    "N. Subotić": "Neven Subotić",
    "W. Lautoa": "Wesley Lautoa",
    "C. Kerbrat": "Christophe Kerbrat",
    "J. Koundé": "Jules Koundé",
    "M. Niakhaté": "Mouhamadou Niakhaté",
    "V. Selimovic": "Vojislav Selimović",
    "J. Cordoval": "Jimmy Cordoval"
}

In [3]:
len(player_full_names)

99

In [ ]:
def get_player_market_value_history(player_name):
    """
    Fetches the market value history for a given player name using the Transfermarkt API.

    Args:
        player_name (str): The name of the player to search for.

    Returns:
        list: A list of dictionaries, where each dictionary represents an entry
              in the player's market value history, or None if the player
              is not found or an error occurs.
    """
    base_url = "https://transfermarkt-api.fly.dev"

    # Step 1: Get player ID
    # Construct the search URL by replacing spaces in the player's name with '%20'
    search_url = f"{base_url}/players/search/{player_name.replace(' ', '%20')}?page_number=1"
    print(f"Searching for player ID for '{player_name}': {search_url}")
    try:
        # Make the HTTP GET request to the search API
        search_response = requests.get(search_url)
        # Raise an HTTPError for bad responses (4xx or 5xx status codes)
        search_response.raise_for_status()
        # Parse the JSON response
        search_data = search_response.json()
    except requests.exceptions.RequestException as e:
        # Handle network-related errors or bad HTTP responses
        print(f"Error fetching player ID for {player_name}: {e}")
        return None
    except json.JSONDecodeError:
        # Handle errors if the response is not valid JSON
        print(f"Error decoding JSON from player ID search for {player_name}.")
        return None

    # Check if any results were returned
    if not search_data or not search_data.get("results"):
        print(f"Player '{player_name}' not found.")
        return None

    # Assuming the first result is the desired player for simplicity
    player_id = search_data["results"][0]["id"]
    player_found_name = search_data["results"][0]["name"]
    print(f"Found player: {player_found_name} with ID: {player_id}")

    # Step 2: Get market value history
    # Construct the market value URL using the obtained player ID
    market_value_url = f"{base_url}/players/{player_id}/market_value"
    print(f"Fetching market value history for '{player_found_name}': {market_value_url}")
    try:
        # Make the HTTP GET request to the market value API
        market_value_response = requests.get(market_value_url)
        # Raise an HTTPError for bad responses
        market_value_response.raise_for_status()
        # Parse the JSON response
        market_value_data = market_value_response.json()
    except requests.exceptions.RequestException as e:
        # Handle network-related errors or bad HTTP responses
        print(f"Error fetching market value for {player_found_name}: {e}")
        return None
    except json.JSONDecodeError:
        # Handle errors if the response is not valid JSON
        print(f"Error decoding JSON from market value API for {player_found_name}.")
        return None

    # Return the market value history list if available, otherwise None
    return market_value_data.get("marketValueHistory")


def get_multiple_players_market_values(player_names):
    """
    Fetches market value histories for a list of players and compiles them
    into a structured dataset.

    Args:
        player_names (list): A list of player names (strings).

    Returns:
        dict: A dictionary where keys are player names and values are their
              market value histories (list of dicts), or None if not found/error.
              Players not found will have a value of None.
    """
    dataset = {}
    for name in player_names:
        print(f"\n--- Processing {name} ---")
        history = get_player_market_value_history(name)
        dataset[name] = history
    return dataset



# Get the dataset
market_value_dataset = get_multiple_players_market_values([i for i in player_full_names.values()])

In [5]:
def analyze_market_value_changes(market_value_dataset, end_of_2017_18_season_date_str="2018-06-30"):
    """
    Analyzes the market value changes for each player in the dataset.
    Specifically, it finds the market value at the end of the 2017/2018 season,
    their age at that time, and the highest value achieved after that date.

    Args:
        market_value_dataset (dict): The dataset of player market value histories.
        end_of_2017_18_season_date_str (str): The cutoff date for the end of the 2017/2018 season (YYYY-MM-DD).

    Returns:
        dict: A dictionary containing analysis results for each player.
              Each player's entry will include:
              - 'value_end_2017_18_season': Market value at or just before the cutoff date.
              - 'age_end_2017_18_season': Player's age at or just before the cutoff date.
              - 'highest_value_after': Highest market value after the cutoff date.
              - 'difference': The difference between the highest_value_after and value_end_2017_18_season.
    """
    analysis_results = {}
    cutoff_date = datetime.strptime(end_of_2017_18_season_date_str, "%Y-%m-%d")

    for player_name, history in market_value_dataset.items():
        value_at_season_end = None
        age_at_season_end = None # New variable for age
        highest_value_after = None

        if not history:
            analysis_results[player_name] = {
                'value_end_2017_18_season': None,
                'age_end_2017_18_season': None, # Initialize new age field
                'highest_value_after': None,
                'difference': None,
                'status': 'No history data'
            }
            continue

        # Find the market value and age at or just before the end of the 2017/2018 season
        # We iterate to find the latest value before or on the cutoff date
        for entry in history:
            entry_date = datetime.strptime(entry["date"], "%Y-%m-%d")
            if entry_date <= cutoff_date:
                value_at_season_end = entry.get("marketValue")
                age_at_season_end = entry.get("age") # Capture age
            else:
                # Once we pass the cutoff date, we can break as history is chronological
                break

        # Find the highest market value after the end of the 2017/2018 season
        current_highest_after = 0
        found_value_after_cutoff = False
        for entry in history:
            entry_date = datetime.strptime(entry["date"], "%Y-%m-%d")
            if entry_date > cutoff_date:
                market_value = entry.get("marketValue")
                if isinstance(market_value, (int, float)):
                    if highest_value_after is None or market_value > highest_value_after:
                        highest_value_after = market_value
                    found_value_after_cutoff = True

        difference = None
        status = 'Analyzed'
        if value_at_season_end is not None and highest_value_after is not None:
            difference = highest_value_after - value_at_season_end
        elif value_at_season_end is None:
            status = 'No value found at end of 2017/18 season'
        elif highest_value_after is None:
            status = 'No highest value found after 2017/18 season'

        analysis_results[player_name] = {
            'value_end_2017_18_season': value_at_season_end,
            'age_end_2017_18_season': age_at_season_end, # Include age in results
            'highest_value_after': highest_value_after,
            'difference': difference,
            'status': status
        }
    return analysis_results

In [6]:
# Perform the analysis
market_value_analysis = analyze_market_value_changes(market_value_dataset)

In [7]:
df_market_value = pd.DataFrame(market_value_analysis).T

In [8]:
def format_value(value):
    if value is None:
        return "N/A"
    if isinstance(value, (int, float)):
        if value >= 1_000_000:
            return f"€{value / 1_000_000:.1f}m"
        elif value >= 1_000:
            return f"€{value / 1_000:.1f}k"
        else:
            return f"€{value}"
    return str(value)

df_market_value['difference_formatted'] = df_market_value['difference'].apply(format_value)

In [9]:
df_market_value.sort_values(by='difference', ascending=False, inplace=True)

In [10]:
pd.set_option('display.max_rows', None)

In [22]:
df_market_value[df_market_value['age_end_2017_18_season'] <= 28].head(10)

,value_end_2017_18_season,age_end_2017_18_season,highest_value_after,difference,status,difference_formatted,rank_of_DCI_in_league
Jules Koundé,7000000,19,65000000,58000000,Analyzed,€58.0m,17
Diego Carlos,10000000,25,50000000,40000000,Analyzed,€40.0m,4
Aaron Wan-Bissaka,1000000,20,40000000,39000000,Analyzed,€39.0m,8
Clément Lenglet,25000000,22,60000000,35000000,Analyzed,€35.0m,18
Joachim Andersen,1500000,22,35000000,33500000,Analyzed,€33.5m,8
Manuel Akanji,22000000,22,45000000,23000000,Analyzed,€23.0m,16
Berat Djimsiti,1000000,25,22000000,21000000,Analyzed,€21.0m,9
Benjamin Pavard,30000000,22,50000000,20000000,Analyzed,€20.0m,19
Philipp Lienhart,2500000,21,20000000,17500000,Analyzed,€17.5m,1
Lewis Dunk,10000000,26,27000000,17000000,Analyzed,€17.0m,2

In [23]:
df_market_value

,value_end_2017_18_season,age_end_2017_18_season,highest_value_after,difference,status,difference_formatted,rank_of_DCI_in_league
Jules Koundé,7000000,19,65000000,58000000,Analyzed,€58.0m,17
Diego Carlos,10000000,25,50000000,40000000,Analyzed,€40.0m,4
Aaron Wan-Bissaka,1000000,20,40000000,39000000,Analyzed,€39.0m,8
Clément Lenglet,25000000,22,60000000,35000000,Analyzed,€35.0m,18
Joachim Andersen,1500000,22,35000000,33500000,Analyzed,€33.5m,8
Manuel Akanji,22000000,22,45000000,23000000,Analyzed,€23.0m,16
Berat Djimsiti,1000000,25,22000000,21000000,Analyzed,€21.0m,9
Benjamin Pavard,30000000,22,50000000,20000000,Analyzed,€20.0m,19
Philipp Lienhart,2500000,21,20000000,17500000,Analyzed,€17.5m,1
Lewis Dunk,10000000,26,27000000,17000000,Analyzed,€17.0m,2
Armando Izzo,8500000,26,25000000,16500000,Analyzed,€16.5m,19
Djené Dakonam,15000000,26,30000000,15000000,Analyzed,€15.0m,7
Felipe,30000000,25,45000000,15000000,Analyzed,€15.0m,5
Guillermo Maripán,1500000,24,15000000,13500000,Analyzed,€13.5m,4
Fabian Schär,3000000,26,16000000,13000000,Analyzed,€13.0m,5
Michael Keane,20000000,25,30000000,10000000,Analyzed,€10.0m,16
Leandro Cabrera,600000,26,10000000,9400000,Analyzed,€9.4m,6
Timo Hübers,750000,21,8500000,7750000,Analyzed,€7.8m,11
Germán Pezzella,13000000,26,20000000,7000000,Analyzed,€7.0m,13
Jonjoe Kenny,5000000,21,12000000,7000000,Analyzed,€7.0m,20
Jannik Vestergaard,14000000,25,20000000,6000000,Analyzed,€6.0m,17
Shkodran Mustafi,25000000,26,30000000,5000000,Analyzed,€5.0m,14
Niklas Stark,15000000,23,20000000,5000000,Analyzed,€5.0m,4
Marc Bartra,17500000,27,22000000,4500000,Analyzed,€4.5m,3
Edgar Ié,3000000,24,7500000,4500000,Analyzed,€4.5m,6
Salif Sané,18000000,27,22000000,4000000,Analyzed,€4.0m,14
Rúben Vezo,6000000,24,10000000,4000000,Analyzed,€4.0m,9
Prince-Désir Gouano,3000000,24,7000000,4000000,Analyzed,€4.0m,5
Zouhair Feddal,3000000,28,6000000,3000000,Analyzed,€3.0m,11
Marc Muniesa,2500000,26,5000000,2500000,Analyzed,€2.5m,20
Chris Smalling,18000000,28,20000000,2000000,Analyzed,€2.0m,11
Christian Kabasele,7000000,27,9000000,2000000,Analyzed,€2.0m,9
Luca Ceppitelli,2000000,28,3500000,1500000,Analyzed,€1.5m,4
Manuel Gulde,2500000,27,4000000,1500000,Analyzed,€1.5m,8
Federico Ceccherini,2800000,26,4000000,1200000,Analyzed,€1.2m,2
Christopher Schindler,6000000,28,7000000,1000000,Analyzed,€1.0m,15
Josip Elez,3000000,24,4000000,1000000,Analyzed,€1.0m,15
Filip Helander,2500000,25,3500000,1000000,Analyzed,€1.0m,1
Kévin Théophile-Catherine,4000000,28,5000000,1000000,Analyzed,€1.0m,10
Mattia Bani,2500000,24,3200000,700000,Analyzed,€700.0k,10
Christopher Jullien,6000000,25,6500000,500000,Analyzed,€500.0k,11
Mathieu Debuchy,4500000,32,4500000,0,Analyzed,€0,8
Kevin Long,2500000,27,2500000,0,Analyzed,€0,10
Neven Subotić,5000000,29,5000000,0,Analyzed,€0,14
Nicolas Spolli,400000,35,400000,0,Analyzed,€0,5
Christophe Kerbrat,2000000,31,2000000,0,Analyzed,€0,16
Wesley Lautoa,2000000,30,2000000,0,Analyzed,€0,15
Edoardo Goldaniga,3000000,24,3000000,0,Analyzed,€0,12
Thiago Cionek,800000,32,800000,0,Analyzed,€0,14
Bakaye Dibassy,4000000,28,4000000,0,Analyzed,€0,7
Antonio Caracciolo,300000,36,300000,0,Analyzed,€0,15
Wesley Hoedt,15000000,24,15000000,0,Analyzed,€0,6
Damien Da Silva,5500000,30,5500000,0,Analyzed,€0,3
Florian Lejeune,8000000,27,8000000,0,Analyzed,€0,5
Shane Duffy,12000000,26,12000000,0,Analyzed,€0,4
Ciaran Clark,6000000,28,6000000,0,Analyzed,€0,3
Timo Letschert,2500000,25,2500000,0,Analyzed,€0,17
Issa Cissokho,500000,33,500000,0,Analyzed,€0,12
Luis Carlos Almeida da Cunha,5000000,31,5000000,0,Analyzed,€0,13
Ezequiel Muñoz,1500000,27,1500000,0,Analyzed,€0,10
Jeison Murillo,15000000,26,15000000,0,Analyzed,€0,12
Juan Cala,1700000,28,1700000,0,Analyzed,€0,8
Mërgim Mavraj,500000,31,500000,0,Analyzed,€0,20
Benjamin Hübner,8000000,28,8000000,0,Analyzed,€0,10
Leon Balogun,2000000,29,2000000,0,Analyzed,€0,3
Alexander Hack,3000000,24,3000000,0,Analyzed,€0,2
Stefan Bell,6000000,26,6000000,0,Analyzed,€0,7
Phil Jagielka,1500000,35,1500000,0,Analyzed,€0,19
James Tomkins,8000000,29,8000000,0,Analyzed,€0,17
Dario Dainelli,300000,38,200000,-100000,Analyzed,€-100000,7
Mauro Dos Santos,1200000,28,1000000,-200000,Analyzed,€-200000,15
Nicolás Pareja,800000,34,500000,-300000,Analyzed,€-300000,1
Thomas Heurtaux,1800000,29,1300000,-500000,Analyzed,€-500000,11
Ervin Zukanović,2000000,31,1500000,-500000,Analyzed,€-500000,20
Eneko Bóveda Altube,1500000,29,800000,-700000,Analyzed,€-700000,14
Nicolas Pallois,3500000,30,2500000,-1000000,Analyzed,€-1000000,9
Mauricio Lemos,5500000,22,4500000,-1000000,Analyzed,€-1000000,3
Kyriakos Papadopoulos,5000000,26,4000000,-1000000,Analyzed,€-1000000,13
Angelo Ogbonna,9000000,30,8000000,-1000000,Analyzed,€-1000000,18
João Miranda,8000000,33,7000000,-1000000,Analyzed,€-1000000,18
Papy Djilobodji,5500000,29,4000000,-1500000,Analyzed,€-1500000,2
Ashley Williams,5000000,33,3500000,-1500000,Analyzed,€-1500000,12
Jeffrey Bruma,6000000,26,4500000,-1500000,Analyzed,€-1500000,18
Jesús Vallejo,12000000,21,10000000,-2000000,Analyzed,€-2000000,6
Frederik Sørensen,4500000,26,2500000,-2000000,Analyzed,€-2000000,12
Ryan Shawcross,10000000,30,7000000,-3000000,Analyzed,€-3000000,1
Marcos Rojo,18000000,28,15000000,-3000000,Analyzed,€-3000000,13
Rodrigo Ely,6000000,24,3000000,-3000000,Analyzed,€-3000000,17
Víctor Ruíz,12000000,29,8000000,-4000000,Analyzed,€-4000000,16
Ahmed Elsayed Ali Elsayed Hegazy,None,None,None,None,No history data,N/A,7
Simon Kjær,None,None,None,None,No history data,N/A,19
Dominique Maroh,None,None,None,None,No history data,N/A,6
Dominik Heintz,None,None,None,None,No history data,N/A,9
Alessandro Ferrari,None,None,None,None,No history data,N/A,16
Kassimou Adénon,None,None,None,None,No history data,N/A,1
Kader Mangane,500000,35,None,None,No highest value found after 2017/18 season,N/A,13
Mouhamadou Niakhaté,None,None,None,None,No history data,N/A,18
Vojislav Selimović,None,None,None,None,No history data,N/A,19
Jimmy Cordoval,None,None,None,None,No history data,N/A,20

In [12]:
countries = ['England', 'Spain', 'Germany', 'Italy', 'France']
rank_of_DCI_in_league = []


for country in countries:
    country_df = pd.read_csv(f'defensive_summaries/{country}_defensive_summary.csv')
    # Function to decode JSON Unicode escape sequences like \u00e9 to é
    def fix_unicode_escape(s):
        try:
            # Decode Unicode escape sequences (like \u00e9 -> é)
            return s.encode('utf-8').decode('unicode_escape')
        except (UnicodeEncodeError, UnicodeDecodeError):
            # If something goes wrong, return the string as is
            return s

    # Apply the fix to the 'name' list
    country_df['name'] = [
        fix_unicode_escape(x) if isinstance(x, str) else x for x in country_df['name']
    ]

    country_df['team'] = [
        fix_unicode_escape(x) if isinstance(x, str) else x for x in country_df['team']
    ]
    final_df = country_df[country_df['total_time'] > 200].sort_values(by='new_DCI_per_90', ascending=False).head(20).reset_index(drop=True)

    #display(final_df)
    display(final_df[['team','name']])

    for row in final_df.iterrows():
        rank_of_DCI_in_league.append({
            'name': player_full_names[row[1]['name']],
            'rank': row[0] + 1
        })

                      team            name
0               Stoke City    R. Shawcross
1   Brighton & Hove Albion         L. Dunk
2         Newcastle United        C. Clark
3   Brighton & Hove Albion        S. Duffy
4         Newcastle United      F. Lejeune
5              Southampton        W. Hoedt
6     West Bromwich Albion    Ahmed Hegazy
7           Crystal Palace  A. Wan-Bissaka
8                  Watford     C. Kabasele
9                  Burnley         K. Long
10       Manchester United     C. Smalling
11                 Everton     A. Williams
12       Manchester United         M. Rojo
13                 Arsenal      S. Mustafi
14       Huddersfield Town    C. Schindler
15                 Everton        M. Keane
16          Crystal Palace      J. Tomkins
17         West Ham United      A. Ogbonna
18                 Everton     P. Jagielka
19                 Everton        J. Kenny

                   team           name
0               Sevilla      N. Pareja
1                Getafe     L. Cabrera
2            Real Betis         Bartra
3      Deportivo Alavés     G. Maripán
4   Deportivo La Coruña       F. Schär
5           Real Madrid  Jesús Vallejo
6                Getafe          Djené
7                Getafe      Juan Cala
8              Valencia     Rúben Vezo
9               Leganés       E. Muñoz
10           Real Betis      Z. Feddal
11             Valencia     J. Murillo
12  Deportivo La Coruña       Luisinho
13  Deportivo La Coruña         Bóveda
14              Leganés  M. Dos Santos
15           Villarreal    Víctor Ruíz
16     Deportivo Alavés    Rodrigo Ely
17              Sevilla     C. Lenglet
18              Sevilla        S. Kjær
19               Girona        Muniesa

                   team             name
0              Freiburg      P. Lienhart
1              Mainz 05          A. Hack
2              Mainz 05       L. Balogun
3            Hertha BSC         N. Stark
4           Hannover 96           Felipe
5                  Köln         D. Maroh
6              Mainz 05          S. Bell
7              Freiburg         M. Gulde
8                  Köln        D. Heintz
9            Hoffenheim        B. Hübner
10          Hannover 96        T. Hübers
11                 Köln      F. Sørensen
12         Hamburger SV  K. Papadopoulos
13          Hannover 96          S. Sané
14          Hannover 96          J. Elez
15    Borussia Dortmund        M. Akanji
16  Borussia M'gladbach   J. Vestergaard
17            Wolfsburg         J. Bruma
18            Stuttgart        B. Pavard
19         Hamburger SV        M. Mavraj

              team           name
0          Bologna    F. Helander
1          Crotone  F. Ceccherini
2         Sassuolo       M. Lemos
3         Cagliari  L. Ceppitelli
4            Genoa      N. Spolli
5          Crotone     L. Cabrera
6           Chievo    D. Dainelli
7        Sampdoria    J. Andersen
8        Benevento    B. Djimsiti
9           Chievo        M. Bani
10   Hellas Verona    T. Heurtaux
11        Sassuolo   E. Goldaniga
12      Fiorentina    G. Pezzella
13            SPAL      T. Cionek
14   Hellas Verona  A. Caracciolo
15   Hellas Verona     A. Ferrari
16        Sassuolo   T. Letschert
17  Internazionale   João Miranda
18           Genoa        A. Izzo
19           Genoa   E. Zukanović

             team                    name
0       Amiens SC               K. Adénon
1           Dijon           P. Djilobodji
2            Caen             D. Da Silva
3          Nantes            Diego Carlos
4       Amiens SC               P. Gouano
5           Lille                Edgar Ié
6       Amiens SC              B. Dibassy
7   Saint-Étienne              M. Debuchy
8          Nantes              N. Pallois
9   Saint-Étienne  K. Théophile Catherine
10       Toulouse              C. Jullien
11      Amiens SC             I. Cissokho
12     Strasbourg              K. Mangane
13  Saint-Étienne              N. Subotić
14          Dijon               W. Lautoa
15       Guingamp              C. Kerbrat
16       Bordeaux               J. Koundé
17           Metz             M. Niakhaté
18           Metz            V. Selimovic
19         Troyes             J. Cordoval

In [13]:
df_market_value['rank_of_DCI_in_league'] = None

In [14]:
# add rank of DCI in league to df_market_value
for row in rank_of_DCI_in_league:
    player_name = row['name']
    rank = row['rank']
    if player_name in df_market_value.index:
        df_market_value.at[player_name, 'rank_of_DCI_in_league'] = rank

In [15]:
under_28 = df_market_value[df_market_value['age_end_2017_18_season'] <= 28]

In [16]:
print(f'Average expected profit from a randomly selected player younger than 29: {format_value(under_28["difference"].mean())}')

print(f'Chance of making a profit from a randomly selected player younger than 29: {sum(under_28["difference"] > 0) / len(under_28):.2%}')

print(f'Chance of at least breaking even (not losing value) from a randomly selected player younger than 29: {sum(under_28["difference"] >= 0) / len(under_28):.2%}')

Average expected profit from a randomly selected player younger than 29: €7.3m
Chance of making a profit from a randomly selected player younger than 29: 65.08%
Chance of at least breaking even (not losing value) from a randomly selected player younger than 29: 87.30%